.stardownload {
    margin-top: 4%;
    margin-bottom: 4%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-left: 20%;
    word-spacing: 5px;
    font-size: 45px;
}

.discription {
    margin: 7%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
    font-weight: 75px;
    font-size: 25px;
}