.scroll-container {
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-box {
    margin: 20px;
    padding: 35px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    font-variant-position: normal;
    width: 85%;
    background-color: #ffffff;
    color: #061317;
    outline: none;
    transition: border 0.3s ease;
}

.text-box:focus {
    border-color: #e74c3c;
}

.animated-text {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide-in {
    transform: translateX(0);
    opacity: 1;
}

body {
    overflow-x: hidden;
}