* {
    font-family: 'Roboto', sans-serif;
}

.discription {
    font-size: 24px;
    text-align: center;
}

.downloadbutton .grid {
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
}

h1 {
    margin-top: 2%;
    font-size: 48px;
}

.scroll-container {
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-box {
    margin: 20px;
    padding: 35px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    font-variant-position: normal;
    width: 85%;
    background-color: #ffffff;
    color: #061317;
    outline: none;
    transition: border 0.3s ease;
}

.text-box:focus {
    border-color: #e74c3c;
}

.animated-text {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide-in {
    transform: translateX(0);
    opacity: 1;
}

body {
    overflow-x: hidden;
}

.container {
    place-items: center;
    text-align: center;
    padding: 100px;
    display: flex;
    position: relative;
    font-size: 30px;
}

.header {
    margin-top: 5%;
}

.container2 {
    padding: 2%;
    margin: 5%;
    border-radius: 3rem;
}

.swiper-slide img {
    border: solid 1px black;
    background-size: cover;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 3rem;
}

.image-container:hover {
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
    transform: scale(1.2);

}

.discription {
    margin: 7%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    font-weight: 75px;
    font-size: 25px;
}

.gallery {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
    -webkit-column-width: 25%;
    -moz-column-width: 25%;
    column-width: 25%;
    margin: 50px;
}

.gallery img {
    -webkit-transition: all 350mx ease;
    transition: all 350mx ease;
    cursor: pointer;
    margin-bottom: 12px;
    border-block-end: solid 3px red;
}

.gallery img:hover {
    filter: opacity(.8);
}


/*model*/

.model {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #061317;
    transition: opacity .2s ease, visibility .2s ease, transform .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}

.model.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.model img {
    width: 500px;
    max-width: 500px;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
}

.model.open svg {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    padding: 5px;
    background-color: black;
    color: white;
}