.container {
    border: solid 1px black;
    padding: 2%;
    margin: 5%;
    border-radius: 3rem;
}

.swiper-slide img {
    border: solid 1px black;
    background-size: cover;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 3rem;
}

.image-container:hover {
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
    transform: scale(1.2);

}