:root {
  --border-color: red;
}

* {
  font-family: "Roboto", sans-serif;
}

.backgroundtemp {

  background-color: #F9FAFB;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downloadbutton .grid {
  justify-content: center;
  position: relative;
  display: flex;
  align-items: center;
}

.downloadbutton .grid img {
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 85px;
  border: solid 3px white;
}

.logo {
  border-radius: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: auto;
  margin-top: 1%;
  border: solid 3px white
}

h1 {
  font-size: 48px;
}

body {
  overflow-x: hidden;
}

.part {
  min-height: 100vh;
  position: relative;
  margin: auto;
}

.disc {
  margin-inline-start: 20%;
  margin-inline-end: 20%;
  justify-content: center;
}

.downloadButtons {
  margin-top: 2%;
  margin-inline-start: 30%;
  margin-inline-end: 30%;
  justify-content: center;
}

.container {
  place-items: center;
  text-align: center;
  padding: 100px;
  display: flex;
  position: relative;
  font-size: 30px;
  white-space: pre-wrap;
}

.header {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.innovationsHeader {
  font-size: 70px;
  margin-top: 3%;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.discription {
  color: white;
  font-size: 25px;
  white-space: pre-wrap;
}

.discription2 {
  color: black;
  font-weight: 75px;
  font-size: 25px;
  white-space: pre-wrap;
}

.galleryth {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 25%;
  -moz-column-width: 25%;
  column-width: 25%;
  margin: 50px;
  margin-left: 10%;
  padding-top: 10%;
}

.galleryfr {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-width: 25%;
  -moz-column-width: 25%;
  column-width: 25%;
  margin: 50px;
  padding-top: 5%;
}

.galleryfv {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  -webkit-column-width: 25%;
  -moz-column-width: 25%;
  column-width: 25%;
  margin: 50px;
  padding-top: 10%;
}

.gallery {
  -webkit-column-count: 6;
  -moz-column-count: 6;
  column-count: 6;
  -webkit-column-width: 25%;
  -moz-column-width: 25%;
  column-width: 25%;
  margin: 50px;
  padding-top: 10%;
}

.image {
  -webkit-transition: all 350mx ease;
  transition: all 350mx ease;
  cursor: pointer;
  border-block-end: solid 3px red;
  width: 250px;
  height: auto;
  display: block;
  cursor: pointer;
}

.singImage {
  -webkit-transition: all 350mx ease;
  transition: all 350mx ease;
  cursor: pointer;
  border-block-end: solid 3px red;
  width: 250px;
  height: auto;
  display: block;
  cursor: pointer;
  padding-top: 50%;
}

.gallery .img:hover {
  filter: opacity(.8);
}

/*model*/

.model {
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #061317;
  transition: opacity .2s ease, visibility .2s ease, transform .3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model img {
  width: 500px;
  max-width: 500px;
  height: auto;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.model.open svg {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  background-color: black;
  color: white;
}

.footer {
  margin-top: auto;
  background-color: white;
  border-top: 1px solid grey;
}

.homePageText {
  color: white;
}

.firstParagraph {
  font-weight: bold;
  font-size: 45px;
}

.secondParagraph {
  font-size: 25px;
}

.background {
  background: linear-gradient(to right, #6c46ae, #a84db0, #d84fb4);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle {
  padding-top: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerColumn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeURL {
  margin-right: 2%;
  color: white;
  font-size: 25px;
}

.homeText {
  width: auto;
  height: auto;
}

.homeImage {
  height: 400px;
  width: 600px;
}

.navbar {
  display: flex;
  justify-content: center;
  width: 125px;
}

.fav {
  display: flex;
  position: absolute;
  margin-top: 1%;
  right: 0px;
}

.fav div {
  background-color: white;
  width: 30px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

#composition-button {
  font-weight: bold;
  color: white;
  padding: 15px;
}

.nlNavbar {
  margin-top: 15px;
  position: absolute;
  right: 10px;
  padding-bottom: 15px;
}

.loading {
  z-index: 1;
  color: white;
  backdrop-filter: blur(4px);
}

.loading .circular {
  color: white;
}

#inputlink {
  width: auto;
}

.homeLogo {
  width: 240%;
  height: auto;
  padding: 15px;
  align-items: center;
}

.favoriteHomeLogo {
  width: 25%;
  height: auto;
  padding: 15px;
}

.navbarLogo {
  margin-left: 2%;
  width: 240px;
  padding: 15px;
  align-items: center;
}

/* label {
  color: #525252;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 3%;
} */

.mgtop60 {
  margin-top: 60%;
}

.mgtop20 {
  margin-top: 20%;
}

.mgtop350 {
  margin-top: 350%;
}

.textField {
  width: 90%;
  margin-left: 5%;
}

.editPage {
  background-color: #d1d1d1;
  padding-inline: 10%;
  border-radius: 3px;
  border-top: 5px solid #414141;
  border-bottom: 5px solid #414141;
  padding-bottom: 5%;
}

.textArea {
  width: 94%;
  font-size: 18px;
  text-align: center;
  resize: none;
  border: 1px solid rgb(219, 219, 219);
  background: rgb(223, 223, 223);
  border-radius: 8px;
  padding: 3%;
}

.textArea:hover {
  border-color: #a1a1a1;
}

.textArea:focus {
  border-color: #a1a1a1;
  box-shadow: 0 0 0 2px #5e5e5e;
}

.textArea:focus-visible {
  outline: 0;
}

.icons {
  display: flex;
  color: black;
}

.dataInvIcon {
  width: 400px;
}

.dataInvIconDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logined {
  margin-top: 25px;
}

.ratingDiv h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 8%;
  margin-bottom: 8%;
  color: #000;
  font-family: DM Sans;
  font-size: 5.118rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ratingCard {
  width: 100%;
  height: 25.875rem;
  border-radius: 1.875rem;
  background-color: #F1F1F1;
  flex-shrink: 0;
}

.star {
  text-align: center;
  padding-top: 18%;
}


.vector {
  text-align: center;
  padding-top: 18%;
}

.starRating {
  font-family: DM Sans;
  padding-top: 70px;
  text-align: center;
  color: #000;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.starText {
  font-family: DM Sans;
  padding-top: 50px;
  text-align: center;
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.commentCard {
  width: 100%;
  height: auto;
  padding-bottom: 15%;
  flex-shrink: 0;
  border-radius: 1.875rem;
  background: #EBEBEB;
  white-space: pre-wrap;
}

.commentDiv {
  padding-top: 12%;
  padding-left: 12%;
  padding-right: 8%;
}

.comment {
  margin-top: 6%;
  max-height: 200dvh;
  color: #1B1A1A;
  font-family: DM Sans;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: normal;
  white-space: pre-wrap;
}

.dataSecInn {
  padding-top: 5%;
}

.temp2Gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  column-count: 3;
}

.temp2Image {
  width: 45dvh;
  height: auto;
  margin-inline: 5%;
  border-radius: 16px;
}

.temp2Header {
  text-align: center;
}

.headerHead {
  margin-bottom: 8%;
  color: #000;
  font-family: DM Sans;
  font-size: 64px;
  font-weight: 700;
}

.headDisDiv {
  width: 100%;
  padding-bottom: 10%;
}

.headDis {
  font-family: DM Sans;
  font-size: 24px;
  height: 60dvh;
  width: 100%;
  font-weight: 400;
  text-align: left;
  overflow: hidden;
  overflow: auto;
  padding: 4%;
}

.titleStyle {
  font-family: DM Sans;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-top: 10%;
}

.DataSecP {
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 400;
  height: auto;
  text-align: center;
  padding: 3%;
}

.divStyle {
  width: 100%;
  height: 150%;
  border-radius: 30px;
  background: #F1F1F1;
}

.temp2Logo {
  width: 14.8125rem;
  border-radius: 1rem;
}

.dataSecBox {
  height: 100%;
}

.favText {
  margin-top: 120px;
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.favListHeader {
  color: white;
  font-size: 30px;
  margin-right: 20%;
}

.favBackground {
  background: linear-gradient(to right, #6c46ae, #a84db0, #d84fb4);
  min-height: 100vh;
}

.chooseHeader h1 {
  color: #111827;
  font-size: 48px;
  line-height: 48px;
  vertical-align: baseline;
  text-align: center;
  margin-top: 120px;
}

.profileCard {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  margin-top: 3%;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 30%;
  height: 50%;
  border-radius: 1.875rem;
  background: #EBEBEB;
}

.profileInput {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2%;
  background-color: #f3f3f3;
}

.modalCard {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  margin-top: 3%;
  padding: 2%;
  width: 30%;
  height: 15%;
  border-radius: 1.875rem;
  background: rgb(211, 211, 211);
  display: flex;
  flex-direction: column;
}

.profilePhoto {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 35%;
  border-radius: 10rem;
}

.profileLabel {
  font-size: 1.75rem;
  text-align: end;
  padding-right: 20%;
}

.profileData {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 1.15rem;
  float: right;
  color: rgb(95, 95, 95);
}

#profileButton {
  background-color: #6c46ae;
  float: right;
}

.profileModalHeader {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  margin-bottom: 9%;
}

.profileModalLabel {
  color: rgb(0, 0, 0);
  margin-bottom: 1%;
  margin-top: 2%;
}

#profileModalButton {
  background-color: #6c46ae;
  float: right;
  margin-top: 4%;
  width: 15%;
}

@media screen and (max-width: 1200px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .downloadButtons {
    margin-inline: 100px;
    margin-top: 25%;
    justify-content: center;
  }

  .background {
    background: linear-gradient(to right, #6C46AE, #A84DB0, #D84FB4);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .discription {
    font-size: 24px;
  }

  .disc {
    margin-inline-start: 0%;
    margin-inline-end: 0%;
  }

  .image {
    padding-top: 7%;
    width: 250px;
  }

  .singImage {
    padding-top: 7%;
    width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .galleryfr {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .galleryth {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .galleryfv {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .background {
    background: linear-gradient(to right, #6C46AE, #A84DB0, #D84FB4);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .downloadButtons {
    justify-content: center;
  }

  .innovationsHeader {
    font-size: 28px;
  }

  .container {
    font-size: 16px;
    padding: 5%;
  }

  .downloadbutton .grid {
    display: flex;
    margin-inline: 50px;
  }

  .downloadbutton .grid img {
    height: 45px;
  }

  .image {
    padding-top: 30%;
    width: 100%;
  }

  .singImage {
    padding-top: 30%;
    width: 100%;
  }

  #inputlink {
    width: 275px;
  }

  .homeImage {
    height: auto;
    width: 275px;
  }

  .homeLogo {
    margin-left: 45%;
    margin-top: 5%;
    width: 150%;
    margin-right: 190%;
  }

  .navbarLogo {
    margin-top: 5%;
    width: 90%;
    margin-left: -10px;
  }

  .appbar {
    position: relative;
    width: 40px;
  }

  .logo {
    width: 40%;
    margin-top: 15%;
  }

  .header h1 {
    font-size: 32px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .icons {
    padding-right: 3%;
  }

  .icon {
    padding-right: 5%;
  }

  .discription {
    font-size: 16px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .disc {
    margin-inline-start: 0%;
    margin-inline-end: 0%;
  }

  .dataInvIcon {
    width: 165px;
  }

  .icon button {
    margin-left: 40%;
    padding: 0px;
  }

  .fav {
    margin-top: 5%;
  }

  .homeURL {
    font-size: 18px;
  }

  .firstParagraph {
    font-size: 36px;
  }

  .secondParagraph {
    font-size: 18px;
  }

  .nlNavbar {
    right: 0;
  }

  .ratingDiv h1 {
    font-size: 2.559rem;
  }

  .headerHead {
    font-size: 30px;
  }

  .temp2Logo {
    width: 6rem;
    margin-top: 15%;
  }

  .headDis {
    height: 28dvh;
    font-size: 10px;
  }

  .commentCard {
    margin-left: 7%;
    width: 80%;
    padding-bottom: 15%;
  }

  .comment {
    font-size: 0.6rem;
    font-weight: 400;
    line-height: normal;
    white-space: pre-wrap;
  }

  .ratingCard {
    margin-left: 10%;
    width: 75%;
    height: auto;
  }

  .starRating {
    font-size: 1.75rem;
    padding-bottom: 20%;
  }

  .starText {
    font-size: 1.55rem;
    padding-bottom: 20%;
  }

  .star {
    padding-top: 10%;
  }

  .vector {
    padding-top: 10%;
  }

  .part {
    min-height: 10vh;
  }

  .swiperSlide {
    margin-top: 10%;
  }

  .temp2Gallery {
    width: 100px;
    column-count: 1;
  }

  .temp2Image {
    margin-top: 15%;
    width: 100px;
    height: auto;
  }

  .titleStyle {
    font-size: 28px;
  }

  .DataSecP {
    font-size: 16px;
  }

  .divStyle {
    margin-left: 12%;
    width: 80%;
    height: 100%;
  }

  .favoriteHomeLogo {
    width: 80%;
    height: auto;
  }

  .favListHeader {
    color: white;
    font-size: 16px;
  }

  .favText {
    margin-top: 60px;
    font-size: 38px;
  }

  .chooseHeader h1 {
    color: #111827;
    font-size: 40px;
    line-height: 40px;
    vertical-align: baseline;
    letter-spacing: normal;
    text-align: center;
    margin-top: 120px;
  }

  .chooseTemp1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
  }
}