* {
    font-family: 'Roboto', sans-serif;
}

.discription {
    font-size: 24px;
    text-align: center;
}

.downloadbutton .grid {
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
}


.downloadbutton .grid img {
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 85px;
    border: solid 3px white;
}

.logo {
    border-radius: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 185px;
    margin-top: 1%;
    border: solid 3px white
}

h1 {
    margin-top: 2%;
    font-size: 48px;
}

body {
    overflow-x: hidden;
}

.part {
    min-height: 100vh;
    position: relative;
    margin: auto;
}

.disc {
    margin-top: 1%;
    margin-inline-start: 20%;
    margin-inline-end: 20%;
    justify-content: center;
}

.downloadButtons {
    margin-top: 2%;
    margin-inline-start: 30%;
    margin-inline-end: 30%;
    justify-content: center;
}

.container {
    place-items: center;
    text-align: center;
    padding: 100px;
    display: flex;
    position: relative;
    font-size: 30px;
}

.header {
    margin-top: 3%;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.innovationsHeader {
    font-size: 70px;
    margin-top: 3%;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.discription {
    margin: 7%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    font-weight: 75px;
    font-size: 25px;
}

.galleryth {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 25%;
    -moz-column-width: 25%;
    column-width: 25%;
    margin: 50px;
    margin-left: 10%;
    padding-top: 10%;
}

.galleryfr {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-width: 25%;
    -moz-column-width: 25%;
    column-width: 25%;
    margin: 50px;
    padding-top: 5%;
}

.galleryfv {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-width: 25%;
    -moz-column-width: 25%;
    column-width: 25%;
    margin: 50px;
    padding-top: 10%;
}

.gallery {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
    -webkit-column-width: 25%;
    -moz-column-width: 25%;
    column-width: 25%;
    margin: 50px;
    padding-top: 10%;
}


.image {
    -webkit-transition: all 350mx ease;
    transition: all 350mx ease;
    cursor: pointer;
    margin-bottom: 12px;
    border-block-end: solid 3px red;
    width: 250px;
    height: auto;
    display: block;
    cursor: pointer;
}

.singImage {
    -webkit-transition: all 350mx ease;
    transition: all 350mx ease;
    cursor: pointer;
    margin-bottom: 12px;
    border-block-end: solid 3px red;
    width: 250px;
    height: auto;
    display: block;
    cursor: pointer;
    padding-top: 50%;
}

.gallery img:hover {
    filter: opacity(.8);
}


/*model*/

.model {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #061317;
    transition: opacity .2s ease, visibility .2s ease, transform .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}

.model.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.model img {
    width: 500px;
    max-width: 500px;
    height: auto;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;

}

.model.open svg {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    padding: 5px;
    background-color: black;
    color: white;
}

.footer {
    margin-top: auto;
    background-color: white;
    border-top: 1px solid grey;
}

.homePageText {
    color: white;
}

.firstParagraph {
    font-weight: bold;
    font-size: 45px;
}

.secondParagraph {
    font-size: 25px;
}

.background {
    background: linear-gradient(to right, #6C46AE, #A84DB0, #D84FB4);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle {
    padding-top: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeURL {
    margin-right: 2%;
    color: white;
    font-size: 25px;
}

.homeText {
    width: auto;
    height: auto;
}

.homeImage {
    height: 400px;
    width: 600px;
}

.navbar {
    display: flex;
    justify-content: center;
}

.fav {
    display: flex;
    position: absolute;
    margin-top: 1%;
    right: 0px;
}

.fav div {
    background-color: white;
    width: 30px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#composition-button {
    font-weight: bold;
    color: white;
    padding: 15px;
}

.nlNavbar {
    margin-top: 15px;
    position: absolute;
    right: 10px;
}

.loading {
    z-index: 1;
    color: white;
    backdrop-filter: blur(4px);
}

.loading .circular {
    color: white;
    height: 100px;
    width: 100px;
}

#inputlink {
    width: auto;
}

.homeLogo {
    width: 240px;
    height: 50px;
    padding: 15px;
    align-items: center;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 0px;
}

.mgtop60 {
    margin-top: 60%;
}

.mgtop20 {
    margin-top: 20%;
}

.mgtop350 {
    margin-top: 350%;
}

.textField {
    width: 90%;
    margin-left: 5%;
}


@media screen and (max-width: 1200px) {
    .gallery {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-width: 25%;
        -moz-column-width: 25%;
        column-width: 25%;
        margin: 50px;
    }

    .downloadButtons {
        margin-inline: 100px;
        justify-content: center;
    }

    .background {
        background: linear-gradient(to right, #6C46AE, #A84DB0, #D84FB4);
        background-size: cover;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;

    }

    .downloadButtons {
        justify-content: center;
    }

    .innovationsHeader {
        font-size: 48px;
    }

    .container {
        font-size: 24px;
    }

    .downloadbutton .grid {
        display: flex;
        margin-inline: 50px;
    }

    .downloadbutton .grid img {
        height: 45px;
    }

    .image {
        width: 150px;
    }

    .singImage {
        width: 150px;
    }

    #inputlink {
        width: 275px;
    }

    .homeImage {
        height: 200px;
        width: 300px;
    }

    .homeLogo {
        margin-left: 60px;
        margin-top: 10px;
        height: 40px;
        width: 150px;
        margin-right: 250px;
    }
}