* {
    font-family:"Poppins";
}

.homePage {
    background-color: #161417;
}

.part2 {
    background-color: #161417;
    height: 100vh;
}

.backgroundtemp2 {
    background-color: #161417;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.navbar2 {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #161417;
}

.chooseHeader2 h1 {
    color: #ffffff;
    font-size: 48px;
    line-height: 48px;
    vertical-align: baseline;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
  }

.coloredText {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #7040e2, #906ad7, #ad92cb);
}

.chooseImage {
    height: auto;
    width: 28rem;
}

#chooseButton {
    --glow-color: #7040e2;
    --glow-spread-color: #906ad7;
    --enhanced-glow-color: #ad92cb;
    --btn-color: rgb(100, 61, 136);
    border: .05em solid var(--glow-color);
    padding: 0.5em 2em;
    color: #8e61f7;
    font-size: 1.05rem;
    background-color: var(--btn-color);
    border-radius: 0.65em;
    outline: none;
    box-shadow: 0 0 0.5em .05em var(--glow-color),
        0 0 3em 0.18em var(--glow-spread-color),
        inset 0 0 .15em .05em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

#chooseButton:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);

}

.chooseShadow {
    border-radius: 1.65rem;
    box-shadow: 0 0 5px #7040e2;
}

.chooseBox {
    display: flex;
    height: 52dvh;
    padding: 1rem;
    background-color: #2F2D30;
    border-radius: 1.65rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

.chooseBox2 {
    background-color: #2F2D30;
    border-radius: 1.65rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}