* {
    font-family: "Poppins";
}

.padding2 {
    padding: 2%;
}

.mgtop4 {
    margin-top: 4%;
}

.mgtop15 {
    margin-top: 15%;
}

/* Home Page */

.homePage {
    background-color: #161417;
}

.part2 {
    min-height: 100vh;
}

.backgroundtemp2 {
    background-color: #161417;
    background-size: cover;
    min-height: 90.8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar2 {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #161417;
}

.homeNavbar {
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 0 2%;
    background-color: #161417;
}

.homeNavbarLogo {
    width: 16rem;
}

.homeNavbarP2 {
    display: flex;
    flex-grow: 1;
    margin-left: 30%;
}

.homeNavbarNavigate {
    color: white;
    font-size: 20px;
    margin: 0 40px 0 0;
    text-decoration: none;
}

.homeLoginButton{
    color: white;
    font-size:20px; 
    margin: 0 30px 0 0; 
    text-decoration: none;
}

.homeRegisterButton{
    color: #161417;
    font-size:20px; 
    margin: 0 0px 0 0; 
    text-decoration: none;
    padding:8px 15px;
    border-radius:30px;
}

.chooseHeader2 h1 {
    color: #ffffff;
    font-size: 48px;
    line-height: 48px;
    vertical-align: baseline;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
}

.homePageText {
    color: white;
    font-size: 3.25rem;
    width: 90%
}

.coloredText {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #7040e2, #906ad7, #ad92cb);
}

.buildButtonDiv {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.homeSpline {
    width: 100%;
    height: 40rem;
    margin-right: 3rem;
}

.homeBuildText {
    color: white;
    font-size: 330%;
    width: 95%
}

.homeUrlDiv {
    display: flex;
}

.homeUrlInput {
    padding: 2%;
    width: 90%;
}

.homeUrlText {
    color: white;
    font-size: 24px;
    width: 80%
}

.homeInputLink {
    position: relative;
    width: 70%;
    display: flex;
    align-items: center;
}

.homeInputBussiness {
    position: relative;
    width: 45%;
    align-items: center;
}

.howItWork {
    border-radius: 30px;
    background-color: #2F2D30;
    height: 650px;
}

.howItWork:hover {
    -webkit-box-shadow: 0px 0px 54px 21px rgba(144, 106, 215, 0.6);
    -moz-box-shadow: 0px 0px 54px 21px rgba(144, 106, 215, 0.6);
    box-shadow: 0px 0px 54px 21px rgba(144, 106, 215, 0.6);
}

/* Choose Screen */

.chooseImage {
    height: auto;
    width: 28rem;
}

.chooseButton { 
        border-radius: 30px;
        padding: 10px 20px;
        background-image: linear-gradient(45deg, #7040e2, #906ad7, #ad92cb);
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
        height: 50px;
}


.chooseShadow {
    border-radius: 1.65rem;
    box-shadow: 0 0 5px #7040e2;
}

.chooseBox {
    display: flex;
    height: 52dvh;
    padding: 1rem;
    background-color: #2F2D30;
    border-radius: 1.65rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

.chooseBox2 {
    background-color: #2F2D30;
    border-radius: 1.65rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {

    .homeNavbarP2 {
        display: none;
    }

    .homePageTextDiv {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .homePageText {
        text-align: center;
        color: white;
        font-size: 3.25rem;
        width: 80%;
    }

    .buildButtonDiv {
        padding-top: 5%;
        justify-content: center;
    }

    .mgtop15 {
        margin-top: 0px;
    }

    .homeSpline {
        padding-top: 10%;
        zoom: 0.5;
    }

    .homeBuildText {
        font-size: 300%;
    }

    .homeUrlDiv {
        justify-content: center;
    }

    .homeUrlText {
        font-size: 16px;
        text-align: center;
        width: 80%
    }

    .homeInputLink {
        width: 100%;
    }

    .homeInputBussinessDiv{
        text-align: center;
    }

    .homeInputBussiness {
        justify-content: center;
        position: relative;
        width: 80%;
        align-items: center;
        padding-left: 10%;
    }

    .howItWork {
        margin-left: 10%;
        width: 80%;
        height: 20rem;
    }

    .homeNavbarLogo {
        width: 10rem;
        padding-left: 5%;
    }

    .homeLoginButton{
        font-size:12px; 
    }
    
    .homeRegisterButton{
        font-size:12px; 
    }
    .homeLoginRegister{
        margin-left: 14vw;
    }
}